.searchPage__info {
  padding: 2rem;
}

.searchPage__info > p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.searchPage__info > h1 {
  margin-bottom: 3rem;
}

.searchPage__info > button {
  border-radius: 3rem;
  text-transform: inherit;
  margin: 0.5rem;
  font-size: 1.3rem;
}
