.searchResult {
  display: flex;
  position: relative;
  margin: 2rem;
  padding: 2rem;
  border-bottom: 1px solid lightgray;
  opacity: 1;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult > img {
  height: 20rem;
  width: 35rem;
  border-radius: 1rem;
  overflow: hidden;
}

.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}

.searchResult__heart {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.searchResult__infoTop {
  width: 40vw;
}

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 1rem;
}

.searchResult__infoTop > p {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: gray;
}

.searchResult__infoTop > span {
  display: block;
  width: 3rem;
  height: 0;
  margin-top: 1rem;
  border: 0.5px solid #ff7779;
}

.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__stars {
  display: flex;
  align-items: center;
}

.searchResult__star {
  color: red;
}

.searchResult__price > p {
  text-align: right;
}

.searchResult__price {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}
